package templates

templ EducationTemplate(data map[string]interface{}) {
	for _, item := range data["EducationItems"].([]map[string]interface{}) {
		<div class="education-item">
			<h3>{ item["Title"].(string) }</h3>
			<span class="institution">{ item["Institution"].(string) }</span>
			<span class="period">{ item["Period"].(string) }</span>
		</div>
	}
}
